@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", system-ui; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
/* font-family: "Roboto Slab", serif; */

:root {
  --clr-bg: #FCFAEE;
  --clr-font: #20335b;
  --clr-primary: #B8001F;
  --clr-secondary: #507687;
}

.dark-mode {
  --clr-bg: #110F03;
  --clr-font: #A4B7DF;
  --clr-primary: #FF4766;
  --clr-secondary: #789EB0;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui;
  background: var(--clr-bg);
  color: var(--clr-font);
  line-height: 1.5;
  font-size: 0.875rem;
  transition: all 300ms linear;
}

.nav {
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
  font-family: "Roboto Slab", serif;
  font-size: 1.65rem;
  text-transform: capitalize;
}

/* ************** */
/* SWITCH BUTTON */
/* ************** */

.switch-btn {
  position: fixed;
  bottom: 3rem;
  right: 5rem;
  width: 6rem;
  height: 2.5rem;
  display: flex;
  border-radius: 1.1rem;
  align-items: center;
  justify-content: space-around;
  border: none;
  background: var(--clr-primary);
  transition: all 300ms ease-in-out;
}

.switch-btn span {
  display: inline-block;
  font-size: 1.3rem;
  cursor: pointer;
  color: var(--clr-bg);
}

.switch {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--clr-font);
  border-radius: 1.1rem;
  margin: 0;
  display: block;
  transition: all 300ms ease-out;
  z-index: 10;
}

.slide .switch {
  left: 50%;
}
/* ======================== */

.articles {
  padding: 3.5rem 0;
  width: min(650px, 90vw);
  margin: 0 auto;
}

.post {
  margin-bottom: 3rem;
}

.post h2 {
  color: var(--clr-primary);
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 1.75rem;
  padding-left: 1rem;
}

.post-info {
  padding-left: 1rem;
  margin-bottom: 0.75rem;
  font-style: italic;
  color: var(--clr-secondary);
}

.post-info span {
  margin-right: 0.5rem;
}

@media (max-width: 1024px) {
  .switch-btn {
    top: 1.7rem;
    right: 2rem;
    width: 5rem;
    height: 2.1rem;
  }

  .switch-btn span {
    font-size: 1.2rem;
  }
}

@media (max-width: 700px) {
  .switch-btn {
    top: 1.7rem;
    right: 2rem;
    width: 4.5rem;
    height: 2rem;
  }

  .switch-btn span {
    font-size: 1.1rem;
  }

  .nav {
    padding-left: 3rem;
    text-align: left;
    font-size: 1.5rem;
  }
}